.page-header {
    text-align: center;
    font-size: 2em;
    color: #f4f4f4;
    font-weight: bold
}

#title {
    margin-top: 5vh;
    font-weight: bold;
    color: #1e90ff;
    text-align: center;
}

#my_date{
    text-align: right;
}