{% extends 'admin/model/edit.html' %}
{% block tail %}
    {{ super() }}
    <script src="https://cdn.tiny.cloud/1/{{ tinymce_api_key }}/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
      tinymce.init({
        selector: 'textarea.tinymce',
        menubar: false,
        plugins: [
      // Core editing features
      'anchor', 'autolink', 'charmap', 'codesample', 'emoticons', 'image', 'link', 'lists', 'media', 'searchreplace',
        'table', 'visualblocks', 'wordcount', 'link lists code'],
        toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | ' +
        'link image media table mergetags | addcomment showcomments | ' +
        'spellcheckdialog a11ycheck typography | align lineheight | checklist ' +
        'numlist bullist indent outdent | emoticons charmap | removeformat',
        height: 400
      });
    </script>
{% endblock %}
