{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} business card {% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}


{% block page_content %}
<body>
<div class="page-header">
    <h1>
        Cześć {% if current_user.name %} {{ current_user.name }} {% else %} nieznajomy! {% endif %}
    </h1>
</div>
<!-- description|safe   safe, anyway it's escaping html-->
    {% if empty_base %}
    <div class="panel panel-default">
        <div class="panel-heading" id="title"> {{ title }}</div>
        <div class="panel-body">{{ description|safe }}</div>
        <div id="my_date"> Added at: {{ added_at }}</div>
        </div>
    {% else %}<div> Choose your description in Admin panel. </div>
    {% endif %}

<!--<div class="home_container">-->
<!--    <p>My paragraph</p>-->
<!--    <p>Second paragraph</p>-->
<!--</div>-->
</body>
{% endblock %}