{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} business card {% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}


{% block page_content %}
<body>
<div class="page-header">
    <h1> Cześć {% if current_user.name %} {{ current_user.name }} {% else %} nieznajomy! {% endif %}
    </h1>
</div>

    {% if empty_base %}
    <div id="title"> Title: {{ title }}</div>
    <div> Description: {{ description }}</div>
    <div> Added at: {{ added_at }}</div>
    {% else %}<div> Choose your description in Admin panel. </div>
    {% endif %}

<!--<div class="home_container">-->
<!--    <p>My paragraph</p>-->
<!--    <p>Second paragraph</p>-->
<!--</div>-->
</body>
{% endblock %}